<h2> You are in: {{service.currentLocation}} </h2>
<p> It's {{currentTemp | kelvinToF | number:1}} F  and {{currentCondition}}</p>

<form ng-submit="service.getVenues()" ng-controller="MainCtrl">
  What are you in the mood for:
  <input type="text" ng-model="service.userSearchTerm" name="text" />
  <input type="submit" id="submit" value="Submit" />
</form>
Or
<form ng-submit="service.expandSearch()" ng-controller="MainCtrl">
  <input type="submit" id="submit" value="Expand Search" />
</form>
<ul>
	
	<li ng-repeat="venue in service.venues | orderBy: filterByBestWeather">
		<h2>{{venue.venue.name}}</h2>
		<p> {{venue.venue.location.distance | metersToMiles | number:1}} miles to {{venue.weather.temp | kelvinToF | number:1}} F and {{venue.weather.condition}}</p>
		<p>{{venue.tips[0].text}}</p>
	</li>

</ul>