<h2> You are in: {{service.currentData.name}} </h2>
<p> It's {{service.currentData.temp | kelvinToF | number:1}} F  and {{service.currentData.condition}}</p>

<form ng-submit="service.newSearch()" ng-controller="MainCtrl">
  What are you in the mood for:
  <input type="text" ng-model="service.userSearchTerm" name="text" />
  <input type="submit" id="submit" value="Submit" />
</form>
Or
<form ng-submit="service.expandSearch()" ng-controller="MainCtrl">
  <input type="submit" id="submit" value="Expand Current Search" />
</form>
<ul>
	
	<li ng-repeat="venue in service.venues | weatherSort">
		<h2>{{venue.venue.name}}</h2>
		<!-- Distance no longer accurate when using expand search -->
		<p> {{venue.weather.temp | kelvinToF | number:1}} F {{venue.weather.condition}} and {{venue.distance | metersToMiles | number:3}} miles~~~~~~~~~~~~~{{venue.venue.location.distance | metersToMiles | number:1}} miles</p>
		<p>{{venue.tips[0].text}}</p>
	</li>

</ul>